@import '../../scss/flex';

.overview-card {
  background: transparent;
  padding: 0;
  .card-inner {
    width: 100%;
  }
  position: relative;
  @extend .d-flex-center-start;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background: #A100ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: -1;
  }
  .card-content {
    text-align: center;
    padding: 24px;
    margin: -30px 0 0 0;
    height: 100%;
  }
  .card-icon {
    width: 163px;
    height: 180px;
    margin: 0 0 0 14px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .card-heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.27;
    color: #FFFFFF;
    font-family: 'larsseitmedium';
  }  
  .card-disc {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.27;
    color: #FFFFFF;
    font-family: 'larsseitlight';
  }
}
.chart-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 127.2%;
  color: #000000;
  font-family: 'larsseitmedium';
  margin-bottom: 7px;
}
.chart-digit {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.27;
  color: #000000;
  font-family: 'larsseitmedium';
  &.pink {
    color: #FE66C1;
  }
  &.sky {
    color: #1F78B4;
  }
  &.pink {
    color: #FE66C1;
  }
}